@charset "UTF-8";
@import "modern-normalize";
@import "./progress.pcss";

html, body {
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
}

#root {
    position: relative;
    background-color: #6c5738;
}
